{% extends "base_auth.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap">

    <link rel="stylesheet" href="css/modifier.css">
{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <h1>Modifier l'urgence</h1>

    {% if urgence %}
        <form action="modifier_urgence.php" method="post">
            <input type="hidden" name="urgence_id" value="{{ urgence.ID_Urgence }}">
            <label for="niveau">Niveau :</label>
            <input type="text" name="niveau" value="{{ urgence.Niveau }}" required>
            <button type="submit">Modifier</button>
        </form>
    {% else %}
        <p>Urgence introuvable.</p>
    {% endif %}
{% endblock %}
