{% extends "base_auth.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap">
    <link rel="stylesheet" href="css/modifier.css">
{% endblock %}
{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container">
        <div class="box">
            <h1>Nouveau Statut</h1>
            <form action="" method="post">
                <label for="nom">Nom :</label>
                <input type="text" id="nom" name="nom" required>
                <button type="submit">Créer</button>
            </form>
            {% if msg %}
                <p>{{ msg }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}


