section {
    margin-bottom: 20px;
}

h2 {
    color: #2A3A65;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #2A3A65;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2A3A65;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.bouton-normal {
    background-color: #71C5F5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.bouton-danger {
    background-color: #FC6B51;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

 .bouton-normal:hover {
    background-color: #43B4F5;  
}

.bouton-danger:hover {
    background-color: #FD4929; 
}
