body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    color: #2A3A65;
    text-align: center;
}

.edit_form form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #C8B4AA;
}

.edit_form label {
    display: block;
    margin-bottom: 5px;
}

.edit_form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #846565;
    border-radius: 10px;
    box-sizing: border-box;  
}

.edit_form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #956A55;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit_form button[type="submit"]:hover {
    background-color: #A58372;
} 
