body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

.intervention {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.utilisateur {
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 5px;
}
