body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
}

.left-image {
    width: 50%;
    height: 100vh;
    margin-right: 20px;
    object-fit: cover; 
}


.login-container {
    background-color: #ffffff;
    width: 50%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"],
input[type="name"],
input[type="password"],
input[type="adresse"],
input[type="telephone"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.helper-text {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.helper-text:hover {
    text-decoration: underline;
}

.error-message {
    color: #ff0000;
    text-align: center;
    margin-bottom: 10px;
}

.logo {
    width: 170px;
    margin-bottom: 20px;
}